#starbot {
	position: fixed;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 9;
	background-color: #f1f1f1;
	border: 1px solid rgb(30, 150, 243);
	color: black;
	overflow-y: hidden;
	resize: vertical;
	width: 400px;
	height: 680px;
	min-height: 300px;
	top:400px;
	left:250px;
	border-radius: 12px;
  }
  
  .starbot{
	flex-direction: row;
	display: flex;
	align-items: center;
  }
  
  .user_input{
	flex-direction: row-reverse;
	display: flex;
	align-items: center;
  }
  
  #starbotheader {
	padding: 1px;
	padding-left: 10px;
	cursor: move;
	z-index: 10;
	background-color: rgb(33, 150, 243);
	color: #fff;
	border-radius: 10px;
	font-weight: bold;
  }
  
  #starbotfooter{
	width: 95%;
	position: absolute;
	bottom: 5px;
	left: 5px;
	flex-direction: row;
	display: flex;
	align-items: center;
  }
  
  .bot, .user{
	max-width: 40px;
  }
  
  
  #dialogue{
	padding-left: 5px;
	overflow-y: auto;
	overflow-x: hidden;
  }
  
  .dialogue_text{
	padding-left: 5px;
	padding-right: 5px;
	font-size: 0.900em;
  }
  
  #user_input{
	width: 90%;
	border: 1px solid rgb(30, 150, 243);
	border-radius: 5px;
	height: 25px;
  }
  #user_input:focus{
	border: 2px solid rgb(30, 150, 243);
	outline: none;
  }
  
  #go_button{
	width: 20px;
	padding-left: 5px;
  }
  
  .header{
	padding: 5px;
	max-height: 20px;
	cursor: pointer;
  }
  
  .header_div{
	padding: 5px;
	max-height: 20px;
	flex-direction: row;
	align-items: center;
	justify-content: right; 
	display: flex;
  }
  
  #settings{
	display: none;
	overflow-y: auto;
  }
  
  #enlarge{
	display: none;
  }
  
  #speaker_on{
	display: none;
  }
  
  .settings{
	padding: 5px;
  }
  
  #settings label{
	margin-top: 5px;
	padding-top: 5px;
	color: rgb(30, 150, 243);
	font-weight: bold;
  
  }
  
  #help_div{
	display: none;
	padding: 10px;
	overflow-y: auto;
	font-size: 0.900em;
  }

  .vsi_button {
	appearance: none;
	background-color: rgb(30, 150, 243);
	border: 1px solid rgba(27, 31, 35, .15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-size: small;
	font-weight: 600;
	line-height: 10px;
	padding: 6px 6px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
	
  }
  
  .vsi_button:focus:not(:focus-visible):not(.focus-visible) {
	box-shadow: none;
	outline: none;
  }
  
  .vsi_button:hover {
	background-color: #2c974b;
  }
  
  .vsi_button:focus {
	box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
	outline: none;
  }
  
  .vsi_button:disabled {
	background-color: #94d3a2;
	border-color: rgba(27, 31, 35, .1);
	color: rgba(255, 255, 255, .8);
	cursor: default;
  }
  
  .vsi_button:active {
	background-color: #298e46;
	box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
  
  
  