body {
  margin: 0 auto;
  max-width: 820px;
  padding: 0 20px;
  font-family: "calibri", sans-serif;
}

.result {
  font-size: 16px;
  font-weight: bold;
  color: green;
  height: 20px;
  border: 1px solid #009933;
  max-width: 400px;
  padding-bottom: 5px;
  padding-top: 5px;

}

#txt {
  margin-bottom: 5px;
  width: 97%;
  height: 300px;
}

.interaction {
  margin-top: 5px;
  margin-bottom: -15px;
}

#jobs,
#job {
  width: 98%;
}

#job {
  width: 97%;
}

#spinner {
  position: fixed;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  border-style: solid;
  border-width: 3pt;
  border-color: #009933;
  display: none;
}

.spinner {
  margin-top: 75px;
  margin-left: 75px;
}

#resultContainer {
  width: 98%;
  background-color: #d3d3d3;
  border-radius: 10px;
}

#resultBar {
  width: 75%;
  height: 40px;
  background-color: green;
  border-radius: 10px;
  text-align: center;
}

#container {
  width: 100%;
  display: none;
}

#perc {
  padding: 10px;
  color: white;
  font-weight: bold;
}

.more {
  color: blue;
  cursor: pointer;
  margin-top: 0px;
}

.details {
  cursor: pointer;
}

.entity {
  margin-bottom: 0px;
  ;
}

#resultContainer2 {
  width: 98%;
  background-color: #d3d3d3;
  border-radius: 10px;
}

#resultBar2 {
  width: 75%;
  height: 40px;
  background-color: green;
  border-radius: 10px;
  text-align: center;
}

#container2 {
  width: 100%;
  display: none;
}

#perc2 {
  padding: 10px;
  color: white;
  font-weight: bold;
}

.resultContainer {
  width: 98%;
  background-color: #d3d3d3;
  border-radius: 10px;
}

.resultBar {
  width: 75%;
  height: 40px;
  background-color: green;
  border-radius: 10px;
  text-align: center;
}

.container {
  width: 100%;

}

.perc {
  padding: 10px;
  color: white;
  font-weight: bold;
}

.buttons {
  position: relative;
}

#button5 {
  position: absolute;
  right: 15px;
  top: 0px;
}

#corpo {
  position: relative;
}





/* Style the demo div */
#demo {
  max-width: 800px;
  margin: 0 0;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the headings */
#demo h3 {
  color: #333;
  text-align: center;
}

#demo h2 {
  color: rgb(30, 150, 243);
  margin-top: 10px;
  text-align: center;
}

/* Style the labels */
#demo label {
  font-weight: bold;
}

/* Style the input and select elements */
#demo select {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 1px solid rgb(30, 150, 243);
  border-radius: 5px;
}

#job {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 1px solid rgb(30, 150, 243);
  border-radius: 5px;
}

/* Style the buttons */

#demo .buttons {
  display: flex;
  justify-content: space-between;
}

#demo button {
  padding: 10px;
  border: none;
  background-color: rgb(30, 150, 243);
  color: white;
  border-radius: 5px;
}

#demo button:hover {
  background-color: #2c974b;
}


#demo p {
  font-weight: bold;
}